.carousel-caption{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    left:0;
    bottom: 0;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.gradient-custom {
  background: #c471f5;
  background: -webkit-linear-gradient(90deg, rgb(75, 4, 4) 0%, rgb(90, 23, 23) 75%, rgba(255,255,255,1) 100%);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(85, 11, 11) 75%, rgb(165, 43, 43) 100%)
}

.team .col-lg-4 {
    padding-top: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.section-divider{ 
    margin: 3rem 0;
}

.form{
    position: relative;
}

.form .fa-search{
    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;
}

.form span{
    position: absolute;
    right: 12px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;
}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   padding-left: 10px;
}

.form-input{
    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{
    box-shadow: none;
    border:none;
}

.footer-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.header-search {
    float: right;
    margin-top: 15px;
}

.recipes-section .container {
    margin-bottom: -30px;
}

.container .recipe{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.section-title {
    margin-bottom: 48px;
    position: relative;
    padding-top: 18px;
}

.section-title h2, .section-title h3 {
    font-weight: 700;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.recipe img {
    width: 100%;
    
    vertical-align: middle;
    border-style: none;
}

.recipe {
    position: relative;
    margin-bottom: 30px;
}

.recipe .recipe-info-warp {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-right: 50px;
    overflow: hidden;
    
}

.recipe .recipe-info {
    padding: 14px 25px 15px;
    background: rgba(90, 46, 46, 0.678);
    position: relative;
}

.recipe .recipe-info h3 {
    font-size: 15px;
    color: #fff;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.recipe .rating i {
    font-size: 11px;
}

.rating i {
    color: #fbb710;
}

.rating .is-fade {
    color: #e0e3e4;
}

.recipe .rating i {
    font-size: 11px;
}

.col-lg-4, .col-lg-6, {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

h3 {
    font-size: 30px;
    
    margin: 0;
    color: #474747;
    
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.sp-recipes-list {
    list-style: none;
}

.sp-recipes-list{
    padding: 0;
    margin: 0;
}

.sp-recipes-list li {
    margin-bottom: 22px;
    text-align: -webkit-match-parent;
}

.sp-recipes-list .rl-thumb {
    width: 77px;
    height: 77px;
    float: left;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.sp-recipes-list .rl-info {
    padding-left: 90px;
}

.sp-recipes-list .rl-info span {
    font-size: 12px;
    font-weight: 600;
    color: black;
}

.sp-recipes-list .rl-info h6 {
    margin-bottom: 4px;
    padding-top: 2px;
    font-size: 16px;
}

.sp-recipes-list .rl-info .rating {
    font-size: 12px;
}

.container .review{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.sp-blog-item {
    margin-top: 30px;
    -webkit-box-shadow: 0 17px 29px rgb(0 0 0 / 15%);
    box-shadow: 0 17px 29px rgb(0 0 0 / 15%);
}

.sp-blog-item .blog-thubm {
    position: relative;
}

.sp-blog-item .blog-thubm img {
    min-width: 100%;
    
    max-width: 100%;
    
    vertical-align: middle;
    border-style: none;
}

.sp-blog-item .blog-date {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.753);
    color: #fff;
    font-size: 14px;
    padding: 15px 24px 15px 30px;
    
}

.sp-blog-item .blog-date span {
    position: relative;
    z-index: 2;
}

.sp-blog-item .blog-text {
    padding: 48px 40px 45px;
    background: #fff;
    position: relative;
}

.sp-blog-item .blog-text h5 {
    margin-bottom: 10px;
}

.sp-blog-item .blog-text span {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(255, 0, 0);
}

.sp-blog-item p {
    font-size: 14.1px;
    color: #838383;
    line-height: 2.1;
    
    margin-top: 0;
    margin-bottom: 1rem;
}

.sp-blog-item .blog-text .comment {
    font-size: 12px;
    color: #474747;
    
    text-decoration: none;
    background-color: transparent;
}

.sp-blog-item .readmore {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 41px;
    height: 41px;
    text-align: center;
    background: black;
    color: #fff;
    font-size: 23px;
    padding-top: 4px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 767px)
.ftw-warp:first-child {
    margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .feature-heading {
    margin-top: 10rem;
  }
}

@media (max-width: 540px) {
    .carouselImg {
        display: none;
    }
    
    .team {
        margin-top: 2rem;
    }
    
    .container {
    max-width: 540px;
}

